apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.service.name | default (include "wiki-chart.fullname" .) }}
  labels:
    {{- include "wiki-chart.labels" . | nindent 4 }}
    # app.kubernetes.io/name (from selectorLabels) is used by ServiceMonitor selector when stack creates it via additionalServiceMonitors
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "wiki-chart.selectorLabels" . | nindent 4 }}
